.hero-area {
    // display: none;
    height: 75vh;
    background-image: url('../images/header-bg.jpg');
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: " ";
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .search-bar-wrapper {
        padding: 10px;
        display: flex;
        justify-content: center;
        .search-bar {
            position: relative;
            display: inline-block;
            background-color: rgba(192, 192, 192, 0.4);
            border-radius: 5px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            img {
                width: 15px;
                margin: 5px 0 5px 5px;
            }
            #search {
                width: 170px;
                font-size: .8em;
                border: none;
                color: white;
                margin: 0;
            }
        }
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        position: relative;
        .logo {
            font-size: 1.3em;
            img {
                width: 35px;
            }
        }
        .nav-list {
            margin: 20px 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            a {
                display: inline-block;
            }
        }
        li {
            margin: 0 15px;
            &:nth-child(4) {
                a {
                    width: 135px;
                }
            }
        }
    }
    .hero-content {
        position: relative;
        color: white;
        text-align: center;
        h1 {
            .reset-MP;
            font-weight: lighter;
            font-size: 2.4em;
        }
        p {
            .reset-MP;
            font-size: 1.2em;
            font-weight: lighter;
        }
        button {

            .button;
            padding: 15px 25px;
            margin-top: 30px;
        }
    }
}

@media (orientation: landscape){
    .hero-area{
        height: 90vh;
    }
}

//* Larger than Mobile */
@media (min-width: 482px)  {
    // .hero-area{
    //     display: block;
    // }
}


/* Larger than Phablet (Phone & Tablet) */

@media (min-width: 550px) {
    .hero-area {
        .search-bar-wrapper {
            justify-content: flex-end;
            .search-bar #search {
                width: 200px;
            }
        }
        .nav-bar {
            .logo {
                font-size: 2em;
                img {
                    width: 45px;
                }
            }
            .nav-list {
                flex-flow: row nowrap;
                justify-content: space-between;
            }
        }
        .hero-content {
            h1 {
                font-size: 3.2em;
            }
        }
    }
}


/* Larger than Tablet */

@media (min-width: 1030px){}


/* Larger than Desktop */

@media (min-width: 1140px) {
    .hero-area {
        .nav-bar {
            flex-direction: row;
            justify-content: space-between;
            flex-shrink: 0;
        }
        .hero-content {
            h1 {
                margin-top: 50px;
            }
        }
    }
}


/* Larger than Desktop HD */

@media (min-width: 1366px) {
    .hero-area {
        height: 65vh;
    }
}